* {
  box-sizing: border-box;
}

ul.off-canvas-list li a{
	padding: 0.35rem 0.9rem;
}

body {
  /*background-color: #ffffff;*/
  background-size: cover;
  margin: 0px;
  height: 100%;
  color: #555;
  font-family: 'inconsolata';
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: normal;
  color: #e0e0f0;
}

h2 {
  color: #ddddff;
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 20px;
}

h3 {
  color: #9999dd;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 20px;
}

.move-left > .inner-wrap {
  -webkit-transform: translate3d(-75%, 0, 0);
  -moz-transform: translate3d(-75%, 0, 0);
  -ms-transform: translate(-75%, 0);
  -o-transform: translate3d(-75%, 0, 0);
  transform: translate3d(-75%, 0, 0);
}

.right-off-canvas-menu {
  width: 75%;
}

.label2 {
  background-color: #333!important;
  text-align: center;
  border-bottom: 1px solid #222!important;
  border-top: none!important;
}

#editor {
  width: 100%;
  height: calc(100% - 2.8125rem);
}

.main-section {
  top: 0;
  width: 100%;
  height: calc(100% - 2.8125rem);
  z-index: -1;
}

a {
  color: #2194CE;
  text-decoration: none;
}

#panel {
  position: fixed;
  left: 0px;
  width: 260px;
  height: 100%;
  overflow: auto;
  background: rgba(240, 240, 240, 0.8);
}

#panel ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 20px;
}

#viewer {
  border: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.filterBlock {
  margin: 20px;
  position: relative;
}

.filterBlock p {
  margin: 0;
}

#filterInput {
  width: 100%;
  padding: 5px;
  font-family: inherit;
  font-size: 15px;
  outline: none;
  border: 1px solid #dedede;
}

#filterInput:focus {
  border: 1px solid #2194CE;
}

#clearFilterButton {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  font-size: 14px;
  color: grey;
  text-align: center;
  line-height: 0;
  padding-top: 7px;
  opacity: .5;
}

#clearFilterButton:hover {
  opacity: 1;
}

.filtered {
  display: none;
}

#panel li b {
  font-weight: bold;
}


/* mobile */

#expandButton {
  display: none;
  position: absolute;
  right: 20px;
  top: 12px;
  width: 32px;
  height: 32px;
}

#expandButton span {
  height: 2px;
  background-color: #2194CE;
  width: 16px;
  position: absolute;
  left: 8px;
  top: 10px;
}

#expandButton span:nth-child(1) {
  top: 16px;
}

#expandButton span:nth-child(2) {
  top: 22px;
}

@media all and ( max-width: 640px) {
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #panel {
    position: absolute;
    left: 0;
    top: 0;
    height: 480px;
    width: 100%;
    right: 0;
    z-index: 100;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
  }
  #content {
    position: absolute;
    left: 0;
    top: 90px;
    right: 0;
    bottom: 0;
    font-size: 17px;
    line-height: 22px;
    overflow: auto;
  }
  #viewer {
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
  }
  #expandButton {
    display: block;
  }
  #panel.collapsed {
    height: 56px;
  }
}